table {
  margin:auto;
}

.none {
  display:none;
}

.active img {
  border-radius:10px;
}
.active img:hover {
  transform : scale(1.1);
}



.semi-active img {
padding-top:10px;
opacity:0.5;

}
.semi-active img {
    width:80%;
    height:80%;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
            

}