<div class="profile-userpic">
    <img src="https://vignette.wikia.nocookie.net/naruto/images/2/21/Sasuke_Part_1.png/revision/latest/scale-to-width-down/300?cb=20170716092103"
        class="img-responsive" alt="">
</div>
<div class="profile-usertitle">
    <div class="profile-usertitle-name">
        Marcus Doe
    </div>
    <div class="profile-usertitle-job">
        Developer
    </div>
</div>

<div class="profile-userbuttons">
    <button type="button" class="btn btn-success btn-sm">Follow</button>
    <button type="button" class="btn btn-danger btn-sm">Message</button>
</div>